@{
    ViewBag.Title = "Sugestão enviada com sucesso!";
}
<div class="col-md-4"></div>
<div class="col-md-4 backgroungLogin" style="text-align: center">
    <div class="col-md-12" style="padding-bottom:10px;">
        <img src="../../Utilities/FutMobile_logo.png" width=200 height=200 />
        <br /><br />
    </div>
    <p>
        Sua sugestão foi enviada, se for aprovada por algum administrador do sistema ela aparecerá em nosso sistema em breve. @Html.ActionLink("Clique aqui para voltar.", "Index", "Campeonatos")
    </p>
</div>
