@model FutMobile.Models.Comentario

@{
    ViewBag.Title = "Delete";
}

@{
    Layout = null;
}

<div>
    <h4 style="text-align:center;">Deseja realmente deletar esse comentário? <br/><br /></h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group" style="text-align:right;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Deletar" class="btn btn-fut" style="height:30px; padding:0px;" />
                </div>
            </div>
        </div>
    }
</div>
