@{
    ViewBag.Title = "Confirmar e-mail";
}

<div class="col-md-4"></div>
<div class="col-md-4 backgroungLogin" style="text-align: center">
    <div class="col-md-12" style="padding-bottom:10px;">
        <img src="../../Utilities/FutMobile_logo.png" width=200 height=200 />
        <br /><br />
    </div>
    <h2>@ViewBag.Title.</h2>
    <p>
        Obrigado por confirmar seu e-mail. <br />Sua chave API é a seguinte: @ViewBag.ChaveAPI<br/>@Html.ActionLink("Clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
