@model IEnumerable<FutMobile.Models.Time>

@{
    ViewBag.Title = "Index";
}

<style>
    .iconeTime {
        padding: 20px;
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        border-radius: 10px;
        cursor: pointer;
        color: #333 !important;
    }

        .iconeTime:hover {
            border: 1px solid #ccc !important;
            background-color: #afcbe3;
            padding: 19px;
        }
</style>


<script>
    window.onload = function () {
        document.getElementById("indice").className = "animation start-quatro";
        $('[id^=esconder_]').hide();
    };
</script>


<div class="col-md-12" style="text-align:center;">
    <h2>Times</h2>
    <a href="/Times/Create">
        <input type="submit" class="btn btn-fut" style="height:30px; width:30px; padding:0px;" value="Criar" />
    </a>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12" style="padding:0px; text-align:center;">
            <br />
            <input type="text" id="text1" name="text1" placeholder="   Buscar time pelo nome" style="width:275px !important; height:32px; border: 1px solid #ccc; border-radius:10px;" />
            <input type="submit" value="Buscar" class="btn btn-default" style="border-radius:25px;" />
        </div>
    }
    <div class="col-md-12" style="padding:0px;"><br /></div>
</div>


<div class="row" style="padding:10px;">
    <div class="col-md-12 backgroungLogin">
        @foreach (var item in Model)
        {
            <a href="/Times/Details/@item.CodigoTime">
                <div class="col-md-3 iconeTime">
                    <img src="@item.BrasaoPath" width="75" height="75"><br />
                    @Html.DisplayFor(modelItem => item.NomeTime)
                </div>
            </a>
        }
    </div>
</div>
